*{
	font-family: "helvetica";
	margin: 0px;
}

main{
	margin: 30px;
}

h1{
	font-size: 60px;
	margin: 25px 5px 25px -10px;
}

section{
	margin: 15px 5px 15px 2px;
}

p{
	color: grey;
	text-align: justify;
	margin: 15px 0px 15px 0px;
}

nav{
	background: black;
	color:  white;
	padding: 20px;
}

#HighLight{
	background: black;
	color: white;
}

button{
	color:  black;
	margin-bottom: 20px;
	background: linear-gradient( 90deg,grey,red);
  	radius: 25px;
}

